# Arquivos de ambiente virtual do Python
venv/
/venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de configuração específicos de IDEs
.vscode/
.idea/

# Arquivos de credenciais locais (MUITO IMPORTANTE)
credentials.json
*.json
.env

# Arquivos de sistema operacional
.DS_Store
Thumbs.db